# OAuth setup for local development
GEE_PROJECT_ID=polar-scarab-463206-i3

# Optional service-account setup for deployment
# GEE_SERVICE_ACCOUNT=your-service-account@your-project.iam.gserviceaccount.com
# GEE_KEY_FILE=C:\path\to\service-account-key.json
